:root {
    --background: {{background}};
    --foreground: {{foreground}};
    --cursor: {{cursor}};
    --color0: {{color0}};
    --color1: {{color1}};
    --color2: {{color2}};
    --color3: {{color3}};
    --color4: {{color4}};
    --color5: {{color5}};
    --color6: {{color6}};
    --color7: {{color7}};
    --color8: {{color8}};
    --color9: {{color9}};
    --color10: {{color10}};
    --color11: {{color11}};
    --color12: {{color12}};
    --color13: {{color13}};
    --color14: {{color14}};
    --color15: {{color15}};
    --saturate0: {{color1 | saturate(0.0)}};
    --saturate1: {{color1 | saturate(0.5)}};
    --saturate2: {{color1 | saturate(1.0)}};
    --darken0: {{color1 | darken(0.0)}};
    --darken1: {{color1 | darken(0.5)}};
    --darken2: {{color1 | darken(1.0)}};
    --lighten0: {{color1 | lighten(0.0)}};
    --lighten1: {{color1 | lighten(0.5)}};
    --lighten2: {{color1 | lighten(1.0)}};
}
