@import url("/home/kamronbek/.config/wofi/colors.css");

* {
  all: unset;
  outline: none;
  border: none;
  color: @secondary;
  font-family: "JetBrainsMono NF", monospace;
  font-size: 14px;
}

window {
  border-radius: 0.75em;
  border: 1px solid @primary;
  background-color: alpha(@background,.9);
}

#outer-box {
  padding: 5px;
}

#input {
  margin: 5px;
  padding: 5px 5px 5px 10px;
  border-radius: 0.5em;
  color: @secondary;
  background-color: alpha(@on_secondary,.2);
}

#input image {
  margin-right: 5px;
}

#inner-box {
  margin: 5px;
}

#text {
  padding-left: 10px;
  color: @primary;
}

#text:selected {
  color: @primary;
}

#entry {
  padding: 5px 5px 5px 10px;
  border-radius: 0.5em;
}

#entry:selected {
  color: @primary;
  background-color: alpha(@on_secondary,.2);
}
