@import url("colors.css");

* {
  min-height: 0;
  min-width: 0;
  font-family: "Hack Nerd Font";
  font-size: 12px;
}

window#waybar {
  background: @background;
    color: @cursor;
      border-bottom: 1px solid @cursor;
}

#workspaces button {
  color: @cursor;
}

#workspaces button:hover {
  background: @cursor;
}

#workspaces button.active {
  color: @cursor;
  font-weight: 800;
}

tooltip {
  background-color: @background;
  color: @cursor;
  border: 1px solid @cursor;
}

tooltip label {
  color: @cursor;
}

#cpu,
#memory,
#pulseaudio,
#battery,
#network {
  color: @cursor;
  padding-left: 4px;
}

#tray {
  margin-left: 4px;
  margin-right: 6px;
}
