:root {
    --background: #020000;
    --foreground: #F7FBE5;
    --cursor: #C99986;
    --color0: #020000;
    --color1: #5B7389;
    --color2: #B26459;
    --color3: #928D79;
    --color4: #85A9CB;
    --color5: #ED8E7C;
    --color6: #E9F3B4;
    --color7: #ECF1D1;
    --color8: #A5A892;
    --color9: #5B7389;
    --color10: #B26459;
    --color11: #928D79;
    --color12: #85A9CB;
    --color13: #ED8E7C;
    --color14: #E9F3B4;
    --color15: #ECF1D1;
    --active_border: #245989
}
