:root {
    --background: #000103;
    --foreground: #F1E0DE;
    --cursor: #99A8AE;
    --color0: #000104;
    --color1: #747A82;
    --color2: #547D8B;
    --color3: #9B7A7A;
    --color4: #68919D;
    --color5: #96A4A9;
    --color6: #D6A7A0;
    --color7: #E2CBC7;
    --color8: #9E8E8B;
    --color9: #747A82;
    --color10: #547D8B;
    --color11: #9B7A7A;
    --color12: #68919D;
    --color13: #96A4A9;
    --color14: #D6A7A0;
    --color15: #E2CBC7;
    --saturate0: #747A82;
    --saturate1: #3A5982;
    --saturate2: #003882;
    --darken0: #747A82;
    --darken1: #3A3D41;
    --darken2: #000000;
    --lighten0: #747A82;
    --lighten1: #BABDC1;
    --lighten2: #FFFFFF;
}
