:root {
    --background: #020000;
    --foreground: #F7FBE5;
    --cursor: #C99986;
    --color0: #020000;
    --color1: #205789;
    --color2: #B2321F;
    --color3: #927D2A;
    --color4: #2F7FCB;
    --color5: #ED4A2B;
    --color6: #D6F33F;
    --color7: #ECF1D1;
    --color8: #A5A892;
    --color9: #205789;
    --color10: #B2321F;
    --color11: #927D2A;
    --color12: #2F7FCB;
    --color13: #ED4A2B;
    --color14: #D6F33F;
    --color15: #ECF1D1;
    --new: #1B61A1;
}
